style.
      #g {
      border-radius: 25px;
      
      
      }
      #h {
      border-radius: 25px;
      background: #73AD21;
      width:100px;
      height:30px;
      }
      #c {
      border-radius: 25px;
      background: pink;
      width:100px;
      height:30px;
      }
      h1 {
      color:brown;
      }
a(href='home') 
          input#h(type='submit', name='jhvb', value='BACK')
  
h1 
 u
  center LOGIN DETAILS

body
    form(action='/insertInto', method='post')
      table
        tr
          td User Name
          td
            input#g(type='text', name='userName')
        |      
        tr
          td Password
          td
            input#g(type='text', name='password')
        |      

center
    input#c(type='submit', name='save', value='save')
